#
# Git attributes for Unity projects
#
# Compiled by the GameCI community under the MIT license - https://game.ci
#
# Latest version at https://gist.github.com/webbertakken/ff250a0d5e59a8aae961c2e509c07fbc
#
# Ensure that text files that any contributor introduces to the repository have their line endings normalized
* text=auto
# Increase probability of success for merging files with specific extensions
*.cs diff=csharp
# Macro attribute: Files with Unity's yaml format
# linguist-generated means the file is ignored for the repository's language statistics and diffs are hidden by default.
[attr]unity-yaml-file -text merge=unityyamlmerge linguist-generated
# Macro attribute: Files intended for LFS
[attr]lfs-file filter=lfs diff=lfs merge=lfs -text
# Unity files
# *.asmdef unity-yaml-file
# *.anim unity-yaml-file
# *.asset unity-yaml-file
# *.brush unity-yaml-file
# *.controller unity-yaml-file
# *.flare unity-yaml-file
# *.fontsettings unity-yaml-file
# *.giparams unity-yaml-file
# *.guiskin unity-yaml-file
# *.mask unity-yaml-file
# *.mat unity-yaml-file
# *.meta unity-yaml-file
# *.mixer unity-yaml-file
# *.overrideController unity-yaml-file
# *.physicMaterial unity-yaml-file
# *.physicsMaterial2D unity-yaml-file
# *.playable unity-yaml-file
*.prefab unity-yaml-file
# *.preset unity-yaml-file
# *.renderTexture unity-yaml-file
# *.shadervariants unity-yaml-file
# *.spriteatlas unity-yaml-file
# *.terrainlayer unity-yaml-file
*.unity unity-yaml-file
# Binary assets
LightingData.asset lfs-file
OcclusionCullingData.asset
*NavMesh*.asset lfs-file
*SDF*.asset lfs-file
*Terrain*.asset lfs-file
*TerrainData*.asset lfs-file
# *-[Tt]errainData.asset lfs-file
# *-[Tt]errain.asset lfs-file
# Image formats
*.jpg lfs-file
*.png lfs-file
*.gif lfs-file
*.bmp lfs-file
*.tga lfs-file
*.tiff lfs-file
*.tif lfs-file
*.iff lfs-file
*.pict lfs-file
*.dds lfs-file
*.xcf lfs-file
*.exr lfs-file
*.hdr lfs-file
*.webp lfs-file
*.avif lfs-file
*.psd lfs-file
*.ai lfs-file
# Audio formats
*.mp3 lfs-file
*.ogg lfs-file
*.wav lfs-file
*.aiff lfs-file
*.aif lfs-file
*.mod lfs-file
*.it lfs-file
*.s3m lfs-file
*.xm lfs-file
# Video formats
*.mov lfs-file
*.avi lfs-file
*.asf lfs-file
*.mpg lfs-file
*.mpeg lfs-file
*.mp4 lfs-file
# 3D formats
*.fbx lfs-file
*.obj lfs-file
*.max lfs-file
*.blend lfs-file
*.dae lfs-file
*.mb lfs-file
*.ma lfs-file
*.3ds lfs-file
*.dfx lfs-file
*.c4d lfs-file
*.lwo lfs-file
*.lwo2 lfs-file
*.abc lfs-file
*.3dm lfs-file
*.gltf lfs-file
*.glb lfs-file
*.usd lfs-file
*.usdz lfs-file
*.usdc lfs-file
*.usda lfs-file
# Binaries
*.dll lfs-file
*.exe lfs-file
*.mdb lfs-file
*.pdb lfs-file
*.so lfs-file
# Packages
*.zip lfs-file
*.7z lfs-file
*.gz lfs-file
*.rar lfs-file
*.tar lfs-file
# Misc
*.pdf lfs-file
*.ttf lfs-file
*.otf lfs-file
*.unitypackage lfs-file
*.bundle lfs-file
*.cubemap lfs-file
*.bnk filter=lfs diff=lfs merge=lfs -text
